tqdm
requests
Dask[complete]
pandas
PyArrow
NumPy     # Due to Koalas being a bit old, it requires this version
pyspark
ipykernel
modin
joblib
scipy
matplotlib
# cudf-cu12==24.4.*       # May require "--extra-index-url=https://pypi.nvidia.com"
# dask-cudf-cu12==24.4.*  # May require "--extra-index-url=https://pypi.nvidia.com"
