tqdm
requests
Dask[complete]
pandas
PyArrow
NumPy
Koalas
pyspark
ipykernel
modin
joblib
# cudf-cu12==24.4.*       # May require "--extra-index-url=https://pypi.nvidia.com"
# dask-cudf-cu12==24.4.*  # May require "--extra-index-url=https://pypi.nvidia.com"